/* Mise en place des variables qui seront utilisées sur différents élements de la page */


/* Le block juste en bas sert a réinitialiser certains attribut par défaut avec lesquelles CSS vient */
* {
  margin: 0;
  padding: 0;
  border: 0;
}


/* Le prochain block c'est la déclaration de variables que j'ai utilisées sur des sélecteurs */
:root {
  --service-color-primary: #FA4A0C;
  --font-family: 'Poppins';
  --text-color-primary: #252B42;
  --text-color-secondary: #737373;
}


/* Ici je prends la balise HTML pour applique la police de famille à tout ce qui sera comme texte */
/* sur la page */
html {
  font-family: var(--font-family);
}


/* Sytle du texte en grand que l'on retrouve au dessus de la première image en grand */
h2 {
  font-size: 3.625rem;
  font-weight: 700;
  font-style: normal;
  line-height: 5rem;
  letter-spacing: 0.0125rem;
  text-align: center;
}


/* Style des textes en grand que l'on retrouve sur les sections plus bas de la maquette */
h3 {
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 3.5625rem;
  letter-spacing: 0.00625rem;
}


/* Ça c'est le style des petits textes en orange qu'on retrouve centré sur quelques sections de la maquette */
.headline {
  color: var(--service-color-primary);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.00625rem;
}


/* Il y a des textes qui sont gris fades sur quelques sections de la maquette, c'est son style d'en bas ça */
.text-secondary {
  color: var(--text-color-secondary);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.375rem;
  letter-spacing: 0.0125rem;
}


/* Style qui sera appliquée sur les buttons orange qu'on retrouve sur la maquette */
.button-1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.00625rem;


  background-color: var(--service-color-primary);
  border-radius: 1.875rem;
  box-shadow: 0px 10px 30px 0px rgba(183, 50, 39, 0.20);
  text-align: center;
  align-content: center;
  padding: 1rem 2rem;
}


.button-2 {
  color: white;
  background: transparent;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.00625rem;

  border-radius: 1.875rem;
  border: 1px solid #FFF;
  text-align: center;
  align-content: center;
  padding: 1rem 2rem;
}


/* La mise en place des styles qui se répètent au moins deux fois est terminée à partir de ce niveau des lignes de code */
/* Les styles qui suivent en bas c'est pour gérer le positionnement des différents blocks */
/* Et le positionnement des enfants qu'on retrouve dans ces blocks */
/* Et aussi le style des cas spéciaux et individuels qu'on à sur la maquette */



header {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.7rem 2.5rem;


  img {
    width: 180px;
  }


  nav {
    display: flex;
    gap: 4rem;
    height: fit-content;
    top: 1em;
    padding-bottom: 1.27rem;

    a {
      text-decoration: none;
      color: var(--text-color-primary);
    }

    :first-child {
      color: var(--service-color-primary);
    }
  }

}


main {
  overflow: hidden;
}



/* La grande section qui suit fait réference à la partie du code avec l'image de la table pleine */
.landing-section {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;

  background: url('./assets/landingpagebackground.jpeg');
  /* La prochaine ligne de code donne une teinture grise au dessus de l'image */
  /* Comme on retrouve sur la maquette */
  box-shadow: inset 5000px 0 0 0 rgba(0, 0, 0, .5);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;


  .call-to-action {

    width: 70%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;


    .headline-special {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.25rem;
      letter-spacing: 0.00625rem;
    }


    .text-special {
      color: #F6F6F6;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.375rem;
      letter-spacing: 0.0125rem;
    }


    .ctas {
      display: flex;
      gap: 1.8em;
      padding: .5rem 2rem;
    }

  }

}


/* La partie du code qui stylise la première section de la maquette */
.features-promotion-set1 {

  width: 100%;
  display: flex;
  justify-content: center;

  .illus-set1 {
    transform: translateX(-50px) translateY(-50px);
  }

}


/* La partie du code qui stylise la deuxième section de la maquette */
.features-promotion-set2 {

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5em;
  width: 80%;
  margin: auto;

  .illus-set2 {

    display: flex;
    flex-direction: row;
    gap: 6em;

    .illus-set2-content-right {

      justify-content: flex-end;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      text-align: left;
      padding-bottom: 10%;

      p {
        max-width: 32.11638rem;
      }

    }

  }
}


/* La partie du code qui stylise la troisième section de la maquette */
.features-promotion-set3 {

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  width: 80%;
  margin: auto;
  padding: 8em;

  .illus-set3 {

    display: flex;
    flex-direction: row;
    gap: 6em;

    .illus-set3-content-right {

      justify-content: flex-end;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      text-align: left;
      padding-bottom: 10%;

      p {
        max-width: 32.11638rem;
      }

    }

  }
}